                                               
.green-back-pink-font {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #ff72b6;
  background-color: #187B25;
  padding: 2em;
  margin: 1em;
  border-radius: 10px;
  text-align: center;
}

.red-back-yellow-font {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: normal;
  color: #ffd80f;
  background-color: #f94500;
  padding: 2em;
  margin: 1em;
  border-radius: 10px;
  text-align: center;
}

.header-pink-back-green-font {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #187B25;
  background-color: #ff72b6;
  padding: 2em;
  margin: 1em;
  border-radius: 10px;
  text-align: center;
}

.nav-container > ul {
  list-style: none;
  margin: 1em;
  padding: 2em;
  display: flex;
  justify-content: space-between;
}

.nav-container > ul > li {
  margin-right: 20px;
}

.nav-container > ul > li > a {
  text-decoration: none;
  color: #000;
}

.nav-container > ul > li > a:hover {
  color: #fc8d17;
}

/* this is draft/notes
 .header-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif sans-serif;
    font-style: normal;
  }

  .header {
    background-color: #ffd80f;
    color: #F94500;
    padding: 40px;
    text-align: center;
  }

 .main-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; 
 }
  
 .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .pepeha {
   background-color: #ff72b6;
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif, sans-serif;
    color: #187B25;
    margin: 20px;
    padding: 30px; 
  }

  .ko-ahau {
   background-color: #187B25;
    font-family: monospace;
    color: #ff72b6;
    margin: 20px;
    padding: 30px;
  }

  .p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .footer {
    padding: 20px;
    margin: 150px;
  }
