.h1 {
  background-color:#FF72B6 ;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  color: #187B25;
  text-align: center;
  
}
.center-text {
  text-align: center;
}

.h2 {
  background-color: #ffd80f;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: normal;
  color: #F94500;
}

.h3 {
  background-color: #F94500;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: normal;
  color: #ffd80f;
}

.p {
  background-color: #187B25;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: normal;
  color: #FF72B6;
}

.space {
  padding: 75px;
  border-width: 30px;
  border-radius: 15px;
  border-color:black;
  margin: 10%  
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15xp;
  border-width: 30px;
  margin: 155px;
  padding: 60px;
}

.green-background {
  background-color: #187B25;
  color: #FF72B6;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: bold;
}
