.center-text {
  text-align: center;
}

.bold {
  font-style: bold;
}

.italics-font {
  font-style: italic;
}

.space {
  padding: 75px;
  border-width: 30px;
  border-radius: 15px;
  border-color:black;
  margin: 10%  
}

.pink-background {
  background-color:#FF72B6 ;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  color: #187B25;
  text-align: center;
}

.yellow-background {
  background-color: #ffd80f;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: normal;
  color: #F94500;
}

.red-background {
  background-color: #F94500;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: normal;
  color: #ffd80f;
}

.green-background {
  background-color: #187B25;
  font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
  font-style: normal;
  color: #FF72B6;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}